In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=fa49059f8dcb9176f2fd1526498ebbf7492b5efbe29850a77d6fe9dcadcc1905
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [3]:
spark = SparkSession.builder.appName("myApp").getOrCreate()

In [8]:
from os import truncate
df = spark.read.csv("/content/cars.csv", header=True, inferSchema=True, sep=";")
print(df.show(n=5, truncate= True))

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|  3504|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|  3693|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|  3436|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|  3433|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0|  3449|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

None

In [9]:
df.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: double (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: double (nullable = true)
 |-- Weight: decimal(4,0) (nullable = true)
 |-- Acceleration: double (nullable = true)
 |-- Model: integer (nullable = true)
 |-- Origin: string (nullable = true)

In [12]:
print(df.show(5))

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|  3504|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|  3693|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|  3436|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|  3433|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0|  3449|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

None

In [13]:
from pyspark.sql.types import *
print(df.columns)

['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight', 'Acceleration', 'Model', 'Origin']

In [20]:
df1 = df.select('Car','Model')
print(df1.show())

+--------------------+-----+
|                 Car|Model|
+--------------------+-----+
|Chevrolet Chevell...|   70|
|   Buick Skylark 320|   70|
|  Plymouth Satellite|   70|
|       AMC Rebel SST|   70|
|         Ford Torino|   70|
|    Ford Galaxie 500|   70|
|    Chevrolet Impala|   70|
|   Plymouth Fury iii|   70|
|    Pontiac Catalina|   70|
|  AMC Ambassador DPL|   70|
|Citroen DS-21 Pallas|   70|
|Chevrolet Chevell...|   70|
|    Ford Torino (sw)|   70|
|Plymouth Satellit...|   70|
|  AMC Rebel SST (sw)|   70|
| Dodge Challenger SE|   70|
|  Plymouth 'Cuda 340|   70|
|Ford Mustang Boss...|   70|
|Chevrolet Monte C...|   70|
|Buick Estate Wago...|   70|
+--------------------+-----+
only showing top 20 rows

None

In [21]:
df.show()

+--------------------+-----+
|                 Car|Model|
+--------------------+-----+
|Chevrolet Chevell...|   70|
|   Buick Skylark 320|   70|
|  Plymouth Satellite|   70|
|       AMC Rebel SST|   70|
|         Ford Torino|   70|
|    Ford Galaxie 500|   70|
|    Chevrolet Impala|   70|
|   Plymouth Fury iii|   70|
|    Pontiac Catalina|   70|
|  AMC Ambassador DPL|   70|
|Citroen DS-21 Pallas|   70|
|Chevrolet Chevell...|   70|
|    Ford Torino (sw)|   70|
|Plymouth Satellit...|   70|
|  AMC Rebel SST (sw)|   70|
| Dodge Challenger SE|   70|
|  Plymouth 'Cuda 340|   70|
|Ford Mustang Boss...|   70|
|Chevrolet Monte C...|   70|
|Buick Estate Wago...|   70|
+--------------------+-----+
only showing top 20 rows

In [22]:
df = spark.read.csv("/content/cars.csv", header=True, inferSchema=True, sep=";")
print(df.show(n=5, truncate= True))

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|  3504|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|  3693|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|  3436|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|  3433|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0|  3449|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

None

In [24]:
from pyspark.sql.functions import lit
df = df.withColumn('New_column',lit(1))
print(df.show())

+--------------------+----+---------+------------+----------+------+------------+-----+------+----------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|New_column|
+--------------------+----+---------+------------+----------+------+------------+-----+------+----------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|  3504|        12.0|   70|    US|         1|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|  3693|        11.5|   70|    US|         1|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|  3436|        11.0|   70|    US|         1|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|  3433|        12.0|   70|    US|         1|
|         Ford Torino|17.0|        8|       302.0|     140.0|  3449|        10.5|   70|    US|         1|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0|  4341|        10.0|   70|    US|         1|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0|  4354|         9.0|   70|    US|         1|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0|  4312|         8.5|   70|    US|         1|
|    Pontiac Catalina|14.0|        8|       455.0|     225.0|  4425|        10.0|   70|    US|         1|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0|  3850|         8.5|   70|    US|         1|
|Citroen DS-21 Pallas| 0.0|        4|       133.0|     115.0|  3090|        17.5|   70|Europe|         1|
|Chevrolet Chevell...| 0.0|        8|       350.0|     165.0|  4142|        11.5|   70|    US|         1|
|    Ford Torino (sw)| 0.0|        8|       351.0|     153.0|  4034|        11.0|   70|    US|         1|
|Plymouth Satellit...| 0.0|        8|       383.0|     175.0|  4166|        10.5|   70|    US|         1|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|     175.0|  3850|        11.0|   70|    US|         1|
| Dodge Challenger SE|15.0|        8|       383.0|     170.0|  3563|        10.0|   70|    US|         1|
|  Plymouth 'Cuda 340|14.0|        8|       340.0|     160.0|  3609|         8.0|   70|    US|         1|
|Ford Mustang Boss...| 0.0|        8|       302.0|     140.0|  3353|         8.0|   70|    US|         1|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0|  3761|         9.5|   70|    US|         1|
|Buick Estate Wago...|14.0|        8|       455.0|     225.0|  3086|        10.0|   70|    US|         1|
+--------------------+----+---------+------------+----------+------+------------+-----+------+----------+
only showing top 20 rows

None

In [27]:
df = df.withColumn("Second_Column",  lit(2))\
       .withColumn("Thirdd_Column", lit(3))

print(df.show(truncate=True))

+--------------------+----+---------+------------+----------+------+------------+-----+------+----------+-------------+-------------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|New_column|Second_Column|Thirdd_Column|
+--------------------+----+---------+------------+----------+------+------------+-----+------+----------+-------------+-------------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|  3504|        12.0|   70|    US|         1|            2|            3|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|  3693|        11.5|   70|    US|         1|            2|            3|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|  3436|        11.0|   70|    US|         1|            2|            3|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|  3433|        12.0|   70|    US|         1|            2|            3|
|         Ford Torino|17.0|        8|       302.0|     140.0|  3449|        10.5|   70|    US|         1|            2|            3|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0|  4341|        10.0|   70|    US|         1|            2|            3|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0|  4354|         9.0|   70|    US|         1|            2|            3|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0|  4312|         8.5|   70|    US|         1|            2|            3|
|    Pontiac Catalina|14.0|        8|       455.0|     225.0|  4425|        10.0|   70|    US|         1|            2|            3|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0|  3850|         8.5|   70|    US|         1|            2|            3|
|Citroen DS-21 Pallas| 0.0|        4|       133.0|     115.0|  3090|        17.5|   70|Europe|         1|            2|            3|
|Chevrolet Chevell...| 0.0|        8|       350.0|     165.0|  4142|        11.5|   70|    US|         1|            2|            3|
|    Ford Torino (sw)| 0.0|        8|       351.0|     153.0|  4034|        11.0|   70|    US|         1|            2|            3|
|Plymouth Satellit...| 0.0|        8|       383.0|     175.0|  4166|        10.5|   70|    US|         1|            2|            3|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|     175.0|  3850|        11.0|   70|    US|         1|            2|            3|
| Dodge Challenger SE|15.0|        8|       383.0|     170.0|  3563|        10.0|   70|    US|         1|            2|            3|
|  Plymouth 'Cuda 340|14.0|        8|       340.0|     160.0|  3609|         8.0|   70|    US|         1|            2|            3|
|Ford Mustang Boss...| 0.0|        8|       302.0|     140.0|  3353|         8.0|   70|    US|         1|            2|            3|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0|  3761|         9.5|   70|    US|         1|            2|            3|
|Buick Estate Wago...|14.0|        8|       455.0|     225.0|  3086|        10.0|   70|    US|         1|            2|            3|
+--------------------+----+---------+------------+----------+------+------------+-----+------+----------+-------------+-------------+
only showing top 20 rows

None

In [29]:
from pyspark.sql.functions import concat
df = df.withColumn("Concat_colum", concat(col("Car"), lit(" "), col("Origin")))
print(df.show(truncate=True))

+--------------------+----+---------+------------+----------+------+------------+-----+------+----------+-------------+-------------+--------------------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|New_column|Second_Column|Thirdd_Column|        Concat_colum|
+--------------------+----+---------+------------+----------+------+------------+-----+------+----------+-------------+-------------+--------------------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|  3504|        12.0|   70|    US|         1|            2|            3|Chevrolet Chevell...|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|  3693|        11.5|   70|    US|         1|            2|            3|Buick Skylark 320 US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|  3436|        11.0|   70|    US|         1|            2|            3|Plymouth Satellit...|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|  3433|        12.0|   70|    US|         1|            2|            3|    AMC Rebel SST US|
|         Ford Torino|17.0|        8|       302.0|     140.0|  3449|        10.5|   70|    US|         1|            2|            3|      Ford Torino US|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0|  4341|        10.0|   70|    US|         1|            2|            3| Ford Galaxie 500 US|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0|  4354|         9.0|   70|    US|         1|            2|            3| Chevrolet Impala US|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0|  4312|         8.5|   70|    US|         1|            2|            3|Plymouth Fury iii US|
|    Pontiac Catalina|14.0|        8|       455.0|     225.0|  4425|        10.0|   70|    US|         1|            2|            3| Pontiac Catalina US|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0|  3850|         8.5|   70|    US|         1|            2|            3|AMC Ambassador DP...|
|Citroen DS-21 Pallas| 0.0|        4|       133.0|     115.0|  3090|        17.5|   70|Europe|         1|            2|            3|Citroen DS-21 Pal...|
|Chevrolet Chevell...| 0.0|        8|       350.0|     165.0|  4142|        11.5|   70|    US|         1|            2|            3|Chevrolet Chevell...|
|    Ford Torino (sw)| 0.0|        8|       351.0|     153.0|  4034|        11.0|   70|    US|         1|            2|            3| Ford Torino (sw) US|
|Plymouth Satellit...| 0.0|        8|       383.0|     175.0|  4166|        10.5|   70|    US|         1|            2|            3|Plymouth Satellit...|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|     175.0|  3850|        11.0|   70|    US|         1|            2|            3|AMC Rebel SST (sw...|
| Dodge Challenger SE|15.0|        8|       383.0|     170.0|  3563|        10.0|   70|    US|         1|            2|            3|Dodge Challenger ...|
|  Plymouth 'Cuda 340|14.0|        8|       340.0|     160.0|  3609|         8.0|   70|    US|         1|            2|            3|Plymouth 'Cuda 34...|
|Ford Mustang Boss...| 0.0|        8|       302.0|     140.0|  3353|         8.0|   70|    US|         1|            2|            3|Ford Mustang Boss...|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0|  3761|         9.5|   70|    US|         1|            2|            3|Chevrolet Monte C...|
|Buick Estate Wago...|14.0|        8|       455.0|     225.0|  3086|        10.0|   70|    US|         1|            2|            3|Buick Estate Wago...|
+--------------------+----+---------+------------+----------+------+------------+-----+------+----------+-------------+-------------+--------------------+
only showing top 20 rows

None

In [31]:
df = df.withColumnRenamed("Weight", "Kgs")
print(df.show(truncate=False))

+--------------------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+-------------+-----------------------------------+
|Car                             |MPG |Cylinders|Displacement|Horsepower|Kgs |Acceleration|Model|Origin|New_column|Second_Column|Thirdd_Column|Concat_colum                       |
+--------------------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+-------------+-----------------------------------+
|Chevrolet Chevelle Malibu       |18.0|8        |307.0       |130.0     |3504|12.0        |70   |US    |1         |2            |3            |Chevrolet Chevelle Malibu US       |
|Buick Skylark 320               |15.0|8        |350.0       |165.0     |3693|11.5        |70   |US    |1         |2            |3            |Buick Skylark 320 US               |
|Plymouth Satellite              |18.0|8        |318.0       |150.0     |3436|11.0        |70   |US    |1         |2            |3            |Plymouth Satellite US              |
|AMC Rebel SST                   |16.0|8        |304.0       |150.0     |3433|12.0        |70   |US    |1         |2            |3            |AMC Rebel SST US                   |
|Ford Torino                     |17.0|8        |302.0       |140.0     |3449|10.5        |70   |US    |1         |2            |3            |Ford Torino US                     |
|Ford Galaxie 500                |15.0|8        |429.0       |198.0     |4341|10.0        |70   |US    |1         |2            |3            |Ford Galaxie 500 US                |
|Chevrolet Impala                |14.0|8        |454.0       |220.0     |4354|9.0         |70   |US    |1         |2            |3            |Chevrolet Impala US                |
|Plymouth Fury iii               |14.0|8        |440.0       |215.0     |4312|8.5         |70   |US    |1         |2            |3            |Plymouth Fury iii US               |
|Pontiac Catalina                |14.0|8        |455.0       |225.0     |4425|10.0        |70   |US    |1         |2            |3            |Pontiac Catalina US                |
|AMC Ambassador DPL              |15.0|8        |390.0       |190.0     |3850|8.5         |70   |US    |1         |2            |3            |AMC Ambassador DPL US              |
|Citroen DS-21 Pallas            |0.0 |4        |133.0       |115.0     |3090|17.5        |70   |Europe|1         |2            |3            |Citroen DS-21 Pallas Europe        |
|Chevrolet Chevelle Concours (sw)|0.0 |8        |350.0       |165.0     |4142|11.5        |70   |US    |1         |2            |3            |Chevrolet Chevelle Concours (sw) US|
|Ford Torino (sw)                |0.0 |8        |351.0       |153.0     |4034|11.0        |70   |US    |1         |2            |3            |Ford Torino (sw) US                |
|Plymouth Satellite (sw)         |0.0 |8        |383.0       |175.0     |4166|10.5        |70   |US    |1         |2            |3            |Plymouth Satellite (sw) US         |
|AMC Rebel SST (sw)              |0.0 |8        |360.0       |175.0     |3850|11.0        |70   |US    |1         |2            |3            |AMC Rebel SST (sw) US              |
|Dodge Challenger SE             |15.0|8        |383.0       |170.0     |3563|10.0        |70   |US    |1         |2            |3            |Dodge Challenger SE US             |
|Plymouth 'Cuda 340              |14.0|8        |340.0       |160.0     |3609|8.0         |70   |US    |1         |2            |3            |Plymouth 'Cuda 340 US              |
|Ford Mustang Boss 302           |0.0 |8        |302.0       |140.0     |3353|8.0         |70   |US    |1         |2            |3            |Ford Mustang Boss 302 US           |
|Chevrolet Monte Carlo           |15.0|8        |400.0       |150.0     |3761|9.5         |70   |US    |1         |2            |3            |Chevrolet Monte Carlo US           |
|Buick Estate Wagon (sw)         |14.0|8        |455.0       |225.0     |3086|10.0        |70   |US    |1         |2            |3            |Buick Estate Wagon (sw) US         |
+--------------------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+-------------+-----------------------------------+
only showing top 20 rows

None

In [33]:
df = df.write.csv("Export/exportCars.csv", header=True)

In [52]:
df = spark.read.csv("/content/Export/exportCars.csv", header=True)
print(df.show(5))

+--------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+-------------+--------------------+
|                 Car| MPG|Cylinders|Displacement|Horsepower| Kgs|Acceleration|Model|Origin|New_column|Second_Column|Thirdd_Column|        Concat_colum|
+--------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+-------------+--------------------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|3504|        12.0|   70|    US|         1|            2|            3|Chevrolet Chevell...|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|3693|        11.5|   70|    US|         1|            2|            3|Buick Skylark 320 US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|3436|        11.0|   70|    US|         1|            2|            3|Plymouth Satellit...|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|3433|        12.0|   70|    US|         1|            2|            3|    AMC Rebel SST US|
|         Ford Torino|17.0|        8|       302.0|     140.0|3449|        10.5|   70|    US|         1|            2|            3|      Ford Torino US|
+--------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+-------------+--------------------+
only showing top 5 rows

None

In [53]:
df = df.drop("concat_colum")
print(df.show(5))

+--------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+-------------+
|                 Car| MPG|Cylinders|Displacement|Horsepower| Kgs|Acceleration|Model|Origin|New_column|Second_Column|Thirdd_Column|
+--------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+-------------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|3504|        12.0|   70|    US|         1|            2|            3|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|3693|        11.5|   70|    US|         1|            2|            3|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|3436|        11.0|   70|    US|         1|            2|            3|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|3433|        12.0|   70|    US|         1|            2|            3|
|         Ford Torino|17.0|        8|       302.0|     140.0|3449|        10.5|   70|    US|         1|            2|            3|
+--------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+-------------+
only showing top 5 rows

None

In [54]:
df = df.withColumn("concat_column", concat(col("Car"), lit(" "), col("Model")))
print(df.show(n=3, truncate=False))

+-------------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+-------------+----------------------------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Kgs |Acceleration|Model|Origin|New_column|Second_Column|Thirdd_Column|concat_column               |
+-------------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+-------------+----------------------------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504|12.0        |70   |US    |1         |2            |3            |Chevrolet Chevelle Malibu 70|
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693|11.5        |70   |US    |1         |2            |3            |Buick Skylark 320 70        |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436|11.0        |70   |US    |1         |2            |3            |Plymouth Satellite 70       |
+-------------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+-------------+----------------------------+
only showing top 3 rows

None

In [55]:
print(df.show())

+--------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+-------------+--------------------+
|                 Car| MPG|Cylinders|Displacement|Horsepower| Kgs|Acceleration|Model|Origin|New_column|Second_Column|Thirdd_Column|       concat_column|
+--------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+-------------+--------------------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|3504|        12.0|   70|    US|         1|            2|            3|Chevrolet Chevell...|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|3693|        11.5|   70|    US|         1|            2|            3|Buick Skylark 320 70|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|3436|        11.0|   70|    US|         1|            2|            3|Plymouth Satellit...|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|3433|        12.0|   70|    US|         1|            2|            3|    AMC Rebel SST 70|
|         Ford Torino|17.0|        8|       302.0|     140.0|3449|        10.5|   70|    US|         1|            2|            3|      Ford Torino 70|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0|4341|        10.0|   70|    US|         1|            2|            3| Ford Galaxie 500 70|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0|4354|         9.0|   70|    US|         1|            2|            3| Chevrolet Impala 70|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0|4312|         8.5|   70|    US|         1|            2|            3|Plymouth Fury iii 70|
|    Pontiac Catalina|14.0|        8|       455.0|     225.0|4425|        10.0|   70|    US|         1|            2|            3| Pontiac Catalina 70|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0|3850|         8.5|   70|    US|         1|            2|            3|AMC Ambassador DP...|
|Citroen DS-21 Pallas| 0.0|        4|       133.0|     115.0|3090|        17.5|   70|Europe|         1|            2|            3|Citroen DS-21 Pal...|
|Chevrolet Chevell...| 0.0|        8|       350.0|     165.0|4142|        11.5|   70|    US|         1|            2|            3|Chevrolet Chevell...|
|    Ford Torino (sw)| 0.0|        8|       351.0|     153.0|4034|        11.0|   70|    US|         1|            2|            3| Ford Torino (sw) 70|
|Plymouth Satellit...| 0.0|        8|       383.0|     175.0|4166|        10.5|   70|    US|         1|            2|            3|Plymouth Satellit...|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|     175.0|3850|        11.0|   70|    US|         1|            2|            3|AMC Rebel SST (sw...|
| Dodge Challenger SE|15.0|        8|       383.0|     170.0|3563|        10.0|   70|    US|         1|            2|            3|Dodge Challenger ...|
|  Plymouth 'Cuda 340|14.0|        8|       340.0|     160.0|3609|         8.0|   70|    US|         1|            2|            3|Plymouth 'Cuda 34...|
|Ford Mustang Boss...| 0.0|        8|       302.0|     140.0|3353|         8.0|   70|    US|         1|            2|            3|Ford Mustang Boss...|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0|3761|         9.5|   70|    US|         1|            2|            3|Chevrolet Monte C...|
|Buick Estate Wago...|14.0|        8|       455.0|     225.0|3086|        10.0|   70|    US|         1|            2|            3|Buick Estate Wago...|
+--------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+-------------+--------------------+
only showing top 20 rows

None

In [56]:
df = df.drop("concat_column")\
  .drop("Thirdd_Column")
print(df.show())

+--------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+
|                 Car| MPG|Cylinders|Displacement|Horsepower| Kgs|Acceleration|Model|Origin|New_column|Second_Column|
+--------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|3504|        12.0|   70|    US|         1|            2|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|3693|        11.5|   70|    US|         1|            2|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|3436|        11.0|   70|    US|         1|            2|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|3433|        12.0|   70|    US|         1|            2|
|         Ford Torino|17.0|        8|       302.0|     140.0|3449|        10.5|   70|    US|         1|            2|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0|4341|        10.0|   70|    US|         1|            2|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0|4354|         9.0|   70|    US|         1|            2|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0|4312|         8.5|   70|    US|         1|            2|
|    Pontiac Catalina|14.0|        8|       455.0|     225.0|4425|        10.0|   70|    US|         1|            2|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0|3850|         8.5|   70|    US|         1|            2|
|Citroen DS-21 Pallas| 0.0|        4|       133.0|     115.0|3090|        17.5|   70|Europe|         1|            2|
|Chevrolet Chevell...| 0.0|        8|       350.0|     165.0|4142|        11.5|   70|    US|         1|            2|
|    Ford Torino (sw)| 0.0|        8|       351.0|     153.0|4034|        11.0|   70|    US|         1|            2|
|Plymouth Satellit...| 0.0|        8|       383.0|     175.0|4166|        10.5|   70|    US|         1|            2|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|     175.0|3850|        11.0|   70|    US|         1|            2|
| Dodge Challenger SE|15.0|        8|       383.0|     170.0|3563|        10.0|   70|    US|         1|            2|
|  Plymouth 'Cuda 340|14.0|        8|       340.0|     160.0|3609|         8.0|   70|    US|         1|            2|
|Ford Mustang Boss...| 0.0|        8|       302.0|     140.0|3353|         8.0|   70|    US|         1|            2|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0|3761|         9.5|   70|    US|         1|            2|
|Buick Estate Wago...|14.0|        8|       455.0|     225.0|3086|        10.0|   70|    US|         1|            2|
+--------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+
only showing top 20 rows

None

In [57]:
total_count = df.count()
print("Total count of the table: " + str(total_count))

Total count of the table: 406

In [59]:
print(df.show(n=6, truncate=False))

+-------------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Kgs |Acceleration|Model|Origin|New_column|Second_Column|
+-------------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504|12.0        |70   |US    |1         |2            |
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693|11.5        |70   |US    |1         |2            |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436|11.0        |70   |US    |1         |2            |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433|12.0        |70   |US    |1         |2            |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449|10.5        |70   |US    |1         |2            |
|Ford Galaxie 500         |15.0|8        |429.0       |198.0     |4341|10.0        |70   |US    |1         |2            |
+-------------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+
only showing top 6 rows

None

In [120]:
df = spark.read.csv("/content/Export/exportCars.csv", header=True)
print(df.show(5))

+--------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+-------------+--------------------+
|                 Car| MPG|Cylinders|Displacement|Horsepower| Kgs|Acceleration|Model|Origin|New_column|Second_Column|Thirdd_Column|        Concat_colum|
+--------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+-------------+--------------------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|3504|        12.0|   70|    US|         1|            2|            3|Chevrolet Chevell...|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|3693|        11.5|   70|    US|         1|            2|            3|Buick Skylark 320 US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|3436|        11.0|   70|    US|         1|            2|            3|Plymouth Satellit...|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|3433|        12.0|   70|    US|         1|            2|            3|    AMC Rebel SST US|
|         Ford Torino|17.0|        8|       302.0|     140.0|3449|        10.5|   70|    US|         1|            2|            3|      Ford Torino US|
+--------------------+----+---------+------------+----------+----+------------+-----+------+----------+-------------+-------------+--------------------+
only showing top 5 rows

None

In [121]:
from pyspark.sql.functions import col
new_cars = df.filter(col("Car")== "Buick Skylark 320")

In [122]:
buick_cars = new_cars.count()
print(buick_cars)

1

In [123]:
df = spark.read.csv("/content/sales.csv", header=True, inferSchema=True)
print(df.show(40))

+----------+--------------+-----------------+-----+------------+------+------+---------+------------+---------+-------+
|     State|Total Expenses|          Product|Sales| Market Size|Profit|Market|Marketing|Product Type|Inventory|   Type|
+----------+--------------+-----------------+-----+------------+------+------+---------+------------+---------+-------+
|California|            63|         Amaretto|  109|Major Market|  -131|  West|       40|      Coffee|     2947|Regular|
|California|            55|        Green Tea|  201|Major Market|    88|  West|       24|         Tea|      659|Regular|
|California|           143|      Caffe Mocha|  289|Major Market|    25|  West|      109|    Espresso|      788|Regular|
|California|           113|   Decaf Espresso|  576|Major Market|   216|  West|       81|    Espresso|     1744|  Decaf|
|California|            37|        Chamomile|  247|Major Market|   148|  West|       26|  Herbal Tea|      809|  Decaf|
|California|            99|            Lemon|  582|Major Market|   291|  West|       77|  Herbal Tea|     1268|  Decaf|
|California|            25|             Mint|   90|Major Market|    26|  West|       12|  Herbal Tea|      541|  Decaf|
|California|            43|       Darjeeling|  276|Major Market|   120|  West|       31|         Tea|      897|Regular|
|California|            32|        Earl Grey|  187|Major Market|    79|  West|       21|         Tea|      580|Regular|
|California|           142|        Columbian|  687|Major Market|   364|  West|       90|      Coffee|     2067|Regular|
|California|           166|        Columbian|  902|Major Market|   508|  West|      127|      Coffee|     2617|Regular|
|California|           139|        Columbian|  664|Major Market|   349|  West|       87|      Coffee|     2580|Regular|
|California|            54|        Green Tea|  168|Major Market|    47|  West|       22|         Tea|      677|Regular|
|California|           109|   Decaf Espresso|  546|Major Market|   203|  West|       77|    Espresso|     1310|  Decaf|
|California|           116|   Decaf Espresso|  589|Major Market|   220|  West|       83|    Espresso|     1686|  Decaf|
|California|           107|   Decaf Espresso|  567|Major Market|   292|  West|       75|    Espresso|     1691|  Decaf|
|California|            33|        Chamomile|  198|Major Market|    84|  West|       22|  Herbal Tea|      984|  Decaf|
|California|            88|            Lemon|  467|Major Market|   165|  West|       66|  Herbal Tea|      923|  Decaf|
|California|            91|            Lemon|  490|Major Market|   174|  West|       69|  Herbal Tea|     1272|  Decaf|
|California|            28|             Mint|  119|Major Market|    52|  West|       17|  Herbal Tea|      554|  Decaf|
|California|            44|       Darjeeling|  290|Major Market|   128|  West|       33|         Tea|      930|Regular|
|California|            92|      Caffe Latte|  527|Major Market|   230|  West|       74|    Espresso|     1819|Regular|
|California|            92|      Caffe Latte|  527|Major Market|   230|  West|       74|    Espresso|     1797|Regular|
|California|            96|Decaf Irish Cream|  132|Major Market|  -182|  West|       47|      Coffee|      862|  Decaf|
|California|            49|        Green Tea|  159|Major Market|    59|  West|       21|         Tea|      593|Regular|
|California|           111|   Decaf Espresso|  607|Major Market|   317|  West|       86|    Espresso|     1433|  Decaf|
|California|            85|            Lemon|  452|Major Market|   160|  West|       64|  Herbal Tea|      965|  Decaf|
|California|            30|             Mint|  120|Major Market|    38|  West|       17|  Herbal Tea|      554|  Decaf|
|California|            37|             Mint|  188|Major Market|    92|  West|       27|  Herbal Tea|      574|  Decaf|
|California|            41|       Darjeeling|  256|Major Market|   111|  West|       29|         Tea|      821|Regular|
|California|            45|       Darjeeling|  302|Major Market|   134|  West|       34|         Tea|      928|Regular|
|California|            45|       Darjeeling|  322|Major Market|   199|  West|       34|         Tea|      928|Regular|
|California|            40|        Earl Grey|  245|Major Market|   105|  West|       28|         Tea|      598|Regular|
|California|            90|      Caffe Latte|  509|Major Market|   221|  West|       66|    Espresso|     1417|Regular|
|California|            93|      Caffe Latte|  531|Major Market|   232|  West|       69|    Espresso|     1775|Regular|
|California|           146|      Caffe Mocha|  298|Major Market|    27|  West|      113|    Espresso|      700|Regular|
|California|           146|      Caffe Mocha|  318|Major Market|    40|  West|      113|    Espresso|      700|Regular|
|California|           113|   Decaf Espresso|  604|Major Market|   313|  West|       80|    Espresso|     1260|  Decaf|
|California|            88|            Lemon|  498|Major Market|   245|  West|       66|  Herbal Tea|      923|  Decaf|
|California|            25|             Mint|   98|Major Market|  NULL|  West|       13|  Herbal Tea|      536|  Decaf|
+----------+--------------+-----------------+-----+------------+------+------+---------+------------+---------+-------+
only showing top 40 rows

None

In [124]:
total_count = df.count()
print("The total count of the table is:" + str(total_count))

filter_table = df.filter((col("Product Type") == "Coffee") &
                        (col("Type") == 'Decaf'))
print("The filter table for coffee is : " +str(filter_table.show()))

The total count of the table is:4241
+----------+--------------+-----------------+-----+------------+------+------+---------+------------+---------+-----+
|     State|Total Expenses|          Product|Sales| Market Size|Profit|Market|Marketing|Product Type|Inventory| Type|
+----------+--------------+-----------------+-----+------------+------+------+---------+------------+---------+-----+
|California|            96|Decaf Irish Cream|  132|Major Market|  -182|  West|       47|      Coffee|      862|Decaf|
|California|            94|Decaf Irish Cream|  135|Major Market|  -180|  West|       50|      Coffee|     1288|Decaf|
|California|           111|Decaf Irish Cream|  169|Major Market|  -142|  West|       66|      Coffee|     2393|Decaf|
|California|           100|Decaf Irish Cream|  165|Major Market|  -189|  West|       64|      Coffee|     3139|Decaf|
|California|           107|Decaf Irish Cream|  166|Major Market|  -137|  West|       64|      Coffee|     3139|Decaf|
|California|           100|Decaf Irish Cream|  156|Major Market|  -188|  West|       57|      Coffee|     3909|Decaf|
|California|            91|Decaf Irish Cream|  118|Major Market|  -117|  West|       47|      Coffee|      862|Decaf|
|California|            94|Decaf Irish Cream|  127|Major Market|  -121|  West|       50|      Coffee|     1288|Decaf|
|California|            93|Decaf Irish Cream|  139|Major Market|  -174|  West|       50|      Coffee|     3654|Decaf|
|California|           121|Decaf Irish Cream|  202|Major Market|  -157|  West|       78|      Coffee|     2797|Decaf|
|California|           110|Decaf Irish Cream|  163|Major Market|  -142|  West|       64|      Coffee|     1952|Decaf|
|California|           117|Decaf Irish Cream|  192|Major Market|  -149|  West|       73|      Coffee|     4216|Decaf|
|California|            91|Decaf Irish Cream|  122|Major Market|  -117|  West|       48|      Coffee|     1071|Decaf|
|California|           109|Decaf Irish Cream|  169|Major Market|  -209|  West|       63|      Coffee|     1564|Decaf|
|California|            96|Decaf Irish Cream|  147|Major Market|  -178|  West|       53|      Coffee|     3421|Decaf|
|California|            96|Decaf Irish Cream|  138|Major Market|  -120|  West|       53|      Coffee|     3421|Decaf|
|California|           100|Decaf Irish Cream|  146|Major Market|  -127|  West|       57|      Coffee|     3909|Decaf|
|California|           113|Decaf Irish Cream|  200|Major Market|  -217|  West|       78|      Coffee|     2797|Decaf|
|California|           109|Decaf Irish Cream|  159|Major Market|  -141|  West|       63|      Coffee|     1564|Decaf|
|California|            91|Decaf Irish Cream|  130|Major Market|  -174|  West|       48|      Coffee|     1071|Decaf|
+----------+--------------+-----------------+-----+------------+------+------+---------+------------+---------+-----+
only showing top 20 rows

The filter table for coffee is : None

In [125]:
print(df.show(n=7))

+----------+--------------+--------------+-----+------------+------+------+---------+------------+---------+-------+
|     State|Total Expenses|       Product|Sales| Market Size|Profit|Market|Marketing|Product Type|Inventory|   Type|
+----------+--------------+--------------+-----+------------+------+------+---------+------------+---------+-------+
|California|            63|      Amaretto|  109|Major Market|  -131|  West|       40|      Coffee|     2947|Regular|
|California|            55|     Green Tea|  201|Major Market|    88|  West|       24|         Tea|      659|Regular|
|California|           143|   Caffe Mocha|  289|Major Market|    25|  West|      109|    Espresso|      788|Regular|
|California|           113|Decaf Espresso|  576|Major Market|   216|  West|       81|    Espresso|     1744|  Decaf|
|California|            37|     Chamomile|  247|Major Market|   148|  West|       26|  Herbal Tea|      809|  Decaf|
|California|            99|         Lemon|  582|Major Market|   291|  West|       77|  Herbal Tea|     1268|  Decaf|
|California|            25|          Mint|   90|Major Market|    26|  West|       12|  Herbal Tea|      541|  Decaf|
+----------+--------------+--------------+-----+------------+------+------+---------+------------+---------+-------+
only showing top 7 rows

None

In [126]:
distinct_rows = df.select("Product Type").distinct()
print(distinct_rows.show())

+------------+
|Product Type|
+------------+
|    Espresso|
|         Tea|
|      Coffee|
|  Herbal Tea|
+------------+

None

In [127]:
df = df.withColumnRenamed("Product Type", "Product_Type")
print(df)

DataFrame[State: string, Total Expenses: int, Product: string, Sales: int, Market Size: string, Profit: int, Market: string, Marketing: int, Product_Type: string, Inventory: int, Type: string]

In [128]:
print(df.show(5))

+----------+--------------+--------------+-----+------------+------+------+---------+------------+---------+-------+
|     State|Total Expenses|       Product|Sales| Market Size|Profit|Market|Marketing|Product_Type|Inventory|   Type|
+----------+--------------+--------------+-----+------------+------+------+---------+------------+---------+-------+
|California|            63|      Amaretto|  109|Major Market|  -131|  West|       40|      Coffee|     2947|Regular|
|California|            55|     Green Tea|  201|Major Market|    88|  West|       24|         Tea|      659|Regular|
|California|           143|   Caffe Mocha|  289|Major Market|    25|  West|      109|    Espresso|      788|Regular|
|California|           113|Decaf Espresso|  576|Major Market|   216|  West|       81|    Espresso|     1744|  Decaf|
|California|            37|     Chamomile|  247|Major Market|   148|  West|       26|  Herbal Tea|      809|  Decaf|
+----------+--------------+--------------+-----+------------+------+------+---------+------------+---------+-------+
only showing top 5 rows

None